.form-container[b-8mdzuvfe1l] {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
    padding: 4rem;
}

.form-group[b-8mdzuvfe1l] {
    margin-bottom: 1rem;
}

input[b-8mdzuvfe1l], select[b-8mdzuvfe1l], button[b-8mdzuvfe1l] {
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
}

@media (max-width: 600px) {
    .form-container[b-8mdzuvfe1l] {
        padding: 1rem 0.5rem;
    }

    button[b-8mdzuvfe1l] {
        font-size: 1rem;
    }
}