# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Bb]in/
[Oo]bj/
!bin/Release/net8.0/publish/  # Include this specific publish directory

# C# build files
*.dll
*.exe
*.pdb
*.appx
*.appxbundle
*.appxupload
*.deploy
*.package
*.msix
*.msixbundle
*.msixupload

# NuGet
*.nupkg
*.snupkg
**/packages/*

# Logs
*.log

# User-specific files
*.userprefs
*.dbmdl
*.dbproj.schemaview

# Temporary files
*.tmp
*.temp
*.cache
*.pdb
*.ipch/

# Rider
.idea/

# Other common files
*.class
*.jar
*.war
*.tgz
*.gz
*.zip
*.tar
*.7z
*.rar
*.iso
