.vs/DrawingNumberGenerator/config/applicationhost.config
.vs/DrawingNumberGenerator/DesignTimeBuild/.dtbcache.v2
.vs/DrawingNumberGenerator/FileContentIndex/40ad8594-dba4-43d1-aecf-cff5521f1944.vsidx
.vs/DrawingNumberGenerator/FileContentIndex/822a5690-38f3-417f-913c-dff7813d021f.vsidx
.vs/DrawingNumberGenerator/FileContentIndex/926e89bf-1feb-428c-8bb0-4f2d9931b5be.vsidx
.vs/DrawingNumberGenerator/FileContentIndex/9556e59d-5329-4898-b25f-76e1c8f29a07.vsidx
.vs/DrawingNumberGenerator/FileContentIndex/247142dc-97d2-4ebf-a4c8-eb431fb70093.vsidx
.vs/DrawingNumberGenerator/v17/TestStore/0/008.testlog
.vs/DrawingNumberGenerator/v17/TestStore/0/testlog.manifest
