.form-group {
    margin-bottom: 1rem;
}

.input-group-text {
    justify-content: left;
}

@media (min-width: 768px) {
    .input-group-text {
        width: 150px;
        text-align: center;
        justify-content: center;
    }
}

.form-control {
    text-align: center;
}

input, select, button {
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .form-container {
        padding: 1rem 0.5rem;
    }

    button {
        font-size: 1rem;
    }
}

.animated-number {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    animation: color-change 5s infinite;
    margin: 16px;
    cursor: url('https://example.com/funky-cursor.png'), auto; /* Change to funky pointer */
    transition: transform 0.3s ease;
}

    .animated-number:hover {
        transform: scale(1.05); /* Hover effect to zoom slightly */
    }

.copy-button {
    cursor: grab;
}

.dialog {
    display: none;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: green;
    margin: 10px;
}

/* Keyframes for smooth color transition */
@keyframes color-change {
    0% {
        color: rgb(255, 255, 255); /* Red */
    }

    33% {
        color: rgb(201, 221, 201); /* Green */
    }

    66% {
        color: rgb(240, 241, 239); /* Blue */
    }

    100% {
        color: rgb(165, 236, 141); /* Back to Red */
    }
}

.animate-card {
    animation: pulse 3s infinite;
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }
}

.hover-effect {
    transition: transform 0.3s;
}

    .hover-effect:hover {
        transform: translateY(-10px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }

.card-header {
    font-size: 1.25rem;
}

.card-title {
    font-weight: bold;
}