/* /Components/ConsoleLogger.razor.rz.scp.css */
/* Console Logger Container - Sets the background, color, and makes it fixed at the bottom */
.console-logger-container[b-xvanemrw4i] {
    width: 100%;
    background-color: #1e1e1e;
    color: white;
    font-family: Consolas, 'Courier New', monospace;
    position: static;
    bottom: 0;
    left: 0;
    border-top: 1px solid #333;
    z-index: 9999; /* Ensures it appears above other page content */
    overflow: hidden; /* Prevent overflow when content exceeds height */
    border-radius: 5px 5px 0 0; /* Adds rounded top corners */
    transition: max-height 2.5s ease-in-out; /* Smooth transition for expanding */
}

/* Console Header - Button area to toggle visibility and height */
.console-header[b-xvanemrw4i] {
    background-color: #252526;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #333;
    color: #fff;
}

/* Console Content - Displays log content and handles scrolling when it overflows */
.console-content[b-xvanemrw4i] {
    overflow-y: auto;
    font-size: 18px;
    white-space: pre-wrap; /* Keeps text formatting for better readability */
    padding: 10px;
    max-height: calc(100% - 40px); /* Adjusts height based on header height */
}
/* /Components/DrawingNumberGeneratorInstructions.razor.rz.scp.css */
.form-container[b-8mdzuvfe1l] {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
    padding: 4rem;
}

.form-group[b-8mdzuvfe1l] {
    margin-bottom: 1rem;
}

input[b-8mdzuvfe1l], select[b-8mdzuvfe1l], button[b-8mdzuvfe1l] {
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
}

@media (max-width: 600px) {
    .form-container[b-8mdzuvfe1l] {
        padding: 1rem 0.5rem;
    }

    button[b-8mdzuvfe1l] {
        font-size: 1rem;
    }
}
/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-tmopy668it] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-tmopy668it] {
    flex: 1;
}

.sidebar[b-tmopy668it] {
    background-image: linear-gradient(320deg, rgba(14, 63, 4, 0.91) 1%, #0b7a27 70%);
}

.top-row[b-tmopy668it] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-tmopy668it]  a, .top-row[b-tmopy668it]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

        .top-row[b-tmopy668it]  a:hover, .top-row[b-tmopy668it]  .btn-link:hover {
            text-decoration: underline;
        }

        .top-row[b-tmopy668it]  a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

@media (max-width: 640.98px) {
    .top-row[b-tmopy668it] {
        justify-content: space-between;
    }

        .top-row[b-tmopy668it]  a, .top-row[b-tmopy668it]  .btn-link {
            margin-left: 0;
        }
}

@media (min-width: 641px) {
    .page[b-tmopy668it] {
        flex-direction: row;
    }

    .sidebar[b-tmopy668it] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-tmopy668it] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth[b-tmopy668it]  a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    .top-row[b-tmopy668it], article[b-tmopy668it] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

/* Centering the image container */
.image-container[b-tmopy668it] {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

/* Image styling with smooth hover animation and glow effect */
.hover-image[b-tmopy668it] {
    animation: hoverUpDown-b-tmopy668it 3s ease-in-out infinite; /* Animation autostarts */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Smooth transition for transform and glow */
}

/* Keyframes for the up-and-down movement */
@keyframes hoverUpDown-b-tmopy668it {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }
    /* Moves the image up */
    100% {
        transform: translateY(0);
    }
}

/* Hover effects */
.image-link:hover .hover-image[b-tmopy668it] {
    animation-play-state: paused; /* Pauses the animation when hovered */
    transform: translateY(0); /* Ensures image returns to normal position */
    box-shadow: 0 0 15px 5px rgb(0, 157, 0, 0.41); /* Green glow effect */
}
/* /Layout/NavMenu.razor.rz.scp.css */
/* Navbar and sidebar styles */
.navbar-toggler[b-9qkkwgv1yd] {
    background-color: rgb(255, 255, 255, 0.32);
}

.top-row[b-9qkkwgv1yd] {
    height: 3.5rem;
    background-color: rgb(23, 90, 5);
}

.navbar-brand[b-9qkkwgv1yd] {
    font-size: 1.1rem;
}

.nav-item[b-9qkkwgv1yd] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-9qkkwgv1yd] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-9qkkwgv1yd] {
        padding-bottom: 1rem;
    }

    .nav-item[b-9qkkwgv1yd]  a {
        color: rgb(197, 241, 186);
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    }

        .nav-item[b-9qkkwgv1yd]  a.active {
            background-color: forestgreen;
            color: white;
            font-weight: bolder;
        }

        .nav-item[b-9qkkwgv1yd]  a:hover {
            background-color: rgb(12, 102, 12);
            color: rgb(255, 255, 255);
        }

/* Ensure sidebar is scrollable on tall screens */
@media (min-width: 641px) {
    .nav-scrollable[b-9qkkwgv1yd] {
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* /Pages/DrawingNumberGenerator.razor.rz.scp.css */
.form-container[b-o0m35uarhm] {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
    padding: 4rem;
}

.form-group[b-o0m35uarhm] {
    margin-bottom: 1rem;
}

input[b-o0m35uarhm], select[b-o0m35uarhm], button[b-o0m35uarhm] {
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
}

@media (max-width: 600px) {
    .form-container[b-o0m35uarhm] {
        padding: 1rem 0.5rem;
    }

    button[b-o0m35uarhm] {
        font-size: 1rem;
    }
}

.animated-number[b-o0m35uarhm] {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    animation: color-change-b-o0m35uarhm 5s infinite;
    margin: 20px;
    cursor: url('https://example.com/funky-cursor.png'), auto; /* Change to funky pointer */
    transition: transform 0.3s ease;
}

    .animated-number:hover[b-o0m35uarhm] {
        transform: scale(1.1); /* Hover effect to zoom slightly */
    }

.copy-button[b-o0m35uarhm] {
    border: dashed;
    cursor: grab;
}

.dialog[b-o0m35uarhm] {
    display: none;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: green;
    margin: 10px;
}

/* Keyframes for smooth color transition */
@keyframes color-change-b-o0m35uarhm {
    0% {
        color: rgb(255, 0, 0); /* Red */
    }

    33% {
        color: rgb(0, 255, 0); /* Green */
    }

    66% {
        color: rgb(0, 0, 255); /* Blue */
    }

    100% {
        color: rgb(255, 0, 0); /* Back to Red */
    }
}
