@inherits LayoutComponentBase
<div class="page">
    

    <main>

        <div class="container-fluid bg-light">
            <!-- Navbar Section -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <div class="container-fluid">
                    <!-- Logo and Title -->
                    <a class="navbar-brand" href="#">
                        <h1 class="mb-0">Habasit America <small class="text-muted">| Suwanee, GA</small></h1>
                    </a>

                    <!-- Navbar Items (Product Portal) -->
                    <div class="d-flex ms-auto">
                        <a class="btn btn-success mt-2 mt-lg-0" href="https://portal.habasit.com/view/v_portal_pmb" target="_blank">Product Portal</a>
                    </div>
                </div>
            </nav>

            <!-- Page Header -->
            <div class="py-4">
                <h3 class="text-center text-success">CAD Drawing Tools</h3>
            </div>
        </div>

        <article class="content px-4 mt-3">
            <!-- Main Body Content -->
            @Body
        </article>

    </main>
</div>
