/* Navbar and sidebar styles */
.navbar-toggler {
    background-color: rgb(255, 255, 255, 0.32);
}

.top-row {
    height: 3.5rem;
    background-color: rgb(23, 90, 5);
}

.navbar-brand {
    font-size: 1.1rem;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: rgb(197, 241, 186);
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    }

        .nav-item ::deep a.active {
            background-color: forestgreen;
            color: white;
            font-weight: bolder;
        }

        .nav-item ::deep a:hover {
            background-color: rgb(12, 102, 12);
            color: rgb(255, 255, 255);
        }

/* Ensure sidebar is scrollable on tall screens */
@media (min-width: 641px) {
    .nav-scrollable {
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}