@using Client.Services
@using DNG.Library.Data
@using DNG.Library.Models
@using Microsoft.AspNetCore.Components.Forms

@inject IJSRuntime JSRuntime
@inject IDrawingNumber DrawingNumber
@inject IDrawingRequest DrawingRequest
@inject IDrawingRequestProcessor DrawingRequestProcessor

@page "/drawing-request-form"
@inject IDrawingRequestProcessor DrawingRequestProcessor

<ShowInstructionsComponent />

<SummaryDashBoard>
    <FormContent>
        <EditForm EditContext="editContext" OnValidSubmit="HandleValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <GeneralSpecifications />
            <!-- Submit Button -->
            <div class="text-center mt-4">
                <button type="submit" class="btn btn-primary btn-lg">
                    <i class="fa-solid fa-paper-plane me-2"></i> Submit Drawing Request
                </button>
            </div>
            <FlightRollerGripTop />
            <Accessories />
            <UniqueIdentificationAndIndentCode />

        </EditForm>
    </FormContent>
    </SummaryDashBoard>

    <PartNumberTable />

    <DrawingRequestManagement />

    <CADWorkflow />

    <AutoCADCommands />

<SearchTermComponent />


@code {
    private EditContext? editContext;

    protected override void OnInitialized()
    {
        editContext = new EditContext(DrawingRequest);
        editContext.OnFieldChanged += (sender, e) => editContext.Validate(); // Triggers validation on field change

        // Immediately trigger validation when form loads
        editContext.Validate();
    }

    private void HandleValidSubmit()
    {
        DrawingRequestProcessor.GenerateDrawingNumber();
    }
}

<div class="page-break"></div>
