@page "/"

@using Client.Features.BeltDesigner
@using Client.Features.CADTemplates.Archive
@using Client.Features.DWGNumberDecipher
@using Client.Features.DWGRequestParser
@using DNG.Library.Models
@using Microsoft.AspNetCore.Components.Forms

@inject IJSRuntime JSRuntime
@inject IStateContainer State
@inject IDrawingRequestProcessor DrawingRequestProcessor
@inject ITitleBlockService TitleBlockService

<PageTitle>@($"{State.DrawingRequest.GetJobNumber()} | {State.DrawingNumber.DrawingCode}")</PageTitle>

@* <h3 class="display-6">Special Build - Plastic Modular Belt</h3> *@

<NavBar/>

<EditForm EditContext="editContext" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <DWGRequestForm />
</EditForm>

<PartsFinderView />

<DWGNumberDecipherView />

<DrawingFinderView />

<CADTemplatesView />

<TitleBlockView />

 @* <JSONView /> *@

<PrintView />

@* <BeltDesignerView /> *@





@code {
    private EditContext? editContext;

    protected override void OnInitialized()
    {
        editContext = new EditContext(State.DrawingRequest);
        editContext.OnFieldChanged += (sender, e) => editContext.Validate(); // Triggers validation on field change

        // Immediately trigger validation when form loads
        editContext.Validate();
    }

    private void HandleValidSubmit()
    {
        DrawingRequestProcessor.GenerateDrawingNumber();
    }
}
