@page "/"


@using Client.Services
@using DNG.Library.Data
@using DNG.Library.Models
@using Microsoft.AspNetCore.Components.Forms

@inject IJSRuntime JSRuntime
@inject IDrawingNumber DrawingNumber
@inject IDrawingRequest DrawingRequest
@inject IDrawingRequestProcessor DrawingRequestProcessor

<PageTitle>Drawings | Plastic Modular Belt</PageTitle>

<ShowInstructionsComponent />

<div class="container-fluid no-print" id="navbarNav">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active  fw-semibold" target="_blank" href="https://misbelt.com/wp-content/uploads/2018/01/HabaLINK-Plastic-Modular.pdf"><i class="fa-solid fa-circle-info"></i> Engineering Guide</a>
        </li>
        <li class="nav-item">
            
            <a class="nav-link fw-semibold" target="_blank" href="https://www.habasit.com/-/media/Project/Habasit/PublicWebSite/Documents/English/Products/Plastic-Modular/4178_Habasit-Link-Plastic-Modular-Belts-Product-Guide_0124_en.pdf"><i class="fa-solid fa-puzzle-piece"></i> Assembly</a>
        </li>
        <li class="nav-item">
            
            <a class="nav-link fw-semibold" target="_blank" href="https://product-portal.intranet.habasit.com/view/v_portal_pmb"><i class="fa-solid fa-book"></i> Product Portal</a>
        </li>
    </ul>
</div>

<EditForm EditContext="editContext" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <DWGRequestForm />
</EditForm>

<PartsFinderView />

<DrawingFinderView/>

@* <CADWorkflow /> *@

@* <AutoCADCommands /> *@

@* <FeatureManagerView /> *@

<TitleBlockView/>

<CADTemplatesView />

<ThumbnailGalleryView /> 

<JSONView />

<PrintView />

 @* <QuickGuide/> *@


@code {
    private EditContext? editContext;

    protected override void OnInitialized()
    {
        editContext = new EditContext(DrawingRequest);
        editContext.OnFieldChanged += (sender, e) => editContext.Validate(); // Triggers validation on field change

        // Immediately trigger validation when form loads
        editContext.Validate();
    }

    private void HandleValidSubmit()
    {
        DrawingRequestProcessor.GenerateDrawingNumber();
    }
}
