@page "/"


@using Client.Features.DWGManager
@using Client.Features.Serialization
@using Client.Features.ThumbnailGallery
@using Client.Services
@using DNG.Library.Data
@using DNG.Library.Models
@using Microsoft.AspNetCore.Components.Forms

<PageTitle>Drawings | Plastic Modular Belt</PageTitle>



@inject IJSRuntime JSRuntime
@inject IDrawingNumber DrawingNumber
@inject IDrawingRequest DrawingRequest
@inject IDrawingRequestProcessor DrawingRequestProcessor

@page "/drawing-request-form"
@inject IDrawingRequestProcessor DrawingRequestProcessor

<ShowInstructionsComponent />


<OrderView>
    <FormContent>
        <EditForm EditContext="editContext" OnValidSubmit="HandleValidSubmit">
            <DataAnnotationsValidator />
            <DWGRequestForm />
            <div class="alert alert-danger p-2">
                <p class="mb-0"><strong>Errors:</strong></p>
            </div>

        </EditForm>
    </FormContent>
</OrderView>

<label class="small alert alert-warning my-4">
    Locate parts for your parts list.
</label>


<MaterialView />

<label class="small alert alert-warning my-4">
    Use the CAD library to quickly find CAD templates.
</label>




<CADLibraryView/>

<label class="small alert alert-warning my-4">
    Use the Drawing Manager to quickly find drawings.
</label>

<DWGManagerView/>

 <JSONExportView />

@* <CADWorkflow /> *@

 @* <AutoCADCommands /> *@

@* <FeatureManagerView /> *@


@code {
    private EditContext? editContext;

    protected override void OnInitialized()
    {
        editContext = new EditContext(DrawingRequest);
        editContext.OnFieldChanged += (sender, e) => editContext.Validate(); // Triggers validation on field change

        // Immediately trigger validation when form loads
        editContext.Validate();
    }

    private void HandleValidSubmit()
    {
        DrawingRequestProcessor.GenerateDrawingNumber();
    }
}

<div class="page-break"></div>

  <ThumbnailGalleryView /> 


