@inherits BaseInputComponent

<div class="input-group mb-3">
    <div class="form-floating">

    <select id="frictionAntiStatic" class="form-select form-select-sm"
            @onblur="HandleInputAsync"
            @bind="DrawingRequest.FrictionAntiStatic" required>
        <option value="" disabled selected>Select Friction/Anti Static</option>
            @foreach (var friction in FrictionAntiStatic.Options.Values.OrderBy(f=>f))
            {
                <option value="@friction">@friction</option>
            }
    </select>
        <label for="frictionAntiStatic">Friction/Anti Static</label>
        </div>


    <span class="input-group-text">@FrictionAntiStatic.GetCodeByName(DrawingRequest.FrictionAntiStatic, FrictionAntiStatic.Options)</span>
</div>

@code{
    protected override void OnInitialized()
    {
        // Set the default value here, based on some logic
        DrawingRequest.FrictionAntiStatic = "No options"; // Default value set during initialization
    }
}