@page "/drawing-request"
@using Client.Features.DWGRequestParser
@using Microsoft.AspNetCore.Components

@code {
    private DrawingRequest drawingRequest = new DrawingRequest();
    private bool HasIncompleteFields { get; set; } = true;

    // You can add form submission logic here
    private void SubmitDrawingRequest()
    {
        // Implement your submission logic
        StateHasChanged();
    }
}

<!-- Minimal Drawing Request Component -->
<div class="container-fluid my-3 no-print p-0" style="max-width: 800px;">

    <div class="card shadow-sm">

        <div class="accordion" id="drawingRequestAccordion">
            <div class="accordion-body">
                <form class="row mb-3">
                    <InputQuoteNumber />
                    <InputPurchaseOrderNumber />
                    <InputSalesOrderNumber />
                    @* <InputStructuredText />
                    <DWGRequestParser /> *@
                </form>

                <form class="row g-1">
                    <form class="row g-1">
                        <SelectBeltType />
                        <BeltSeriesSelector />
                        <ThumbnailGalleryView />
                    </form>

                    <div class="row">
                        <SelectBeltMaterial />
                        <SelectMaterialColor />
                        <SelectRodMaterial />
                    </div>

                    <div class="row">
                        <InputBeltWidth />
                        <InputNumberOfLinks />
                    </div>
                </form>

                <form class="row g-1">
                    <SelectAdderMaterial />
                    <SelectFlightsRollerGrip />
                    <InputFlightRollersGripTopCenters />
                    <InputQuantityRollersWidth />
                </form>
            </div>

            <div class="accordion-body">
                <form class="row">
                    <SelectBeltAccessories />
                    <SelectFrictionAntiFriction />
                    <SelectPLLaneDV />     
                    
                    <div class="col-6">
                        <InputUniqueIdentification />
                    </div>

                    <div class="col-6">
                        <SelectIndentCode />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


