<div class="card container-fluid my-4 p-4">

<InputGroupTitle Title="Accessories"
                 Subtitle="Customizable Options"
                 Description="Choose from a range of accessories to customize the belt for specific requirements. These options provide added functionality and flexibility." />

    <form class="row g-3">
        <!-- Select Belt Accessories -->
        <div class="col-12 col-md-6 col-lg-4">
            <SelectBeltAccessories />
        </div>

        <!-- Select Friction/Anti-Friction -->
        <div class="col-12 col-md-6 col-lg-4">
            <SelectFrictionAntiFriction />
        </div>

        <!-- Select PL Lane DV -->
        <div class="col-12 col-md-6 col-lg-4">
            <SelectPLLaneDV />
        </div>
    </form>
</div>