<div class="card container-fluid my-4 p-4">

<InputGroupTitle Title="Drawing Request"
                 Subtitle="Core Attributes"
                 Description="Define the core attributes of your belt configuration. Select the belt type, series, color, and material to meet your design needs." />


    <form class="row g-3">
        <!-- Select Belt Type -->
        <div class="col-12 col-md-6 col-lg-6">
            <SelectBeltType />
        </div>

        <!-- Select Belt Series -->
        <div class="col-12 col-md-6 col-lg-6">
            <SelectBeltSeries />
        </div>

        <!-- Select Material Color -->
        <div class="col-12 col-md-6 col-lg-6">
            <SelectMaterialColor />
        </div>

        <!-- Select Belt Material -->
        <div class="col-12 col-md-6 col-lg-6">
            <SelectBeltMaterial />
        </div>

        <!-- Select Adder Material -->
        <div class="col-12 col-md-6 col-lg-6">
            <SelectAdderMaterial />
        </div>

        <!-- Select Rod Material -->
        <div class="col-12 col-md-6 col-lg-6">
            <SelectRodMaterial />
        </div>

        <!-- Input Belt Width -->
        <div class="col-12 col-md-6 col-lg-6">
            <InputBeltWidth />
        </div>
    </form>
</div>