/* Reset and Page Layout */
.page[b-tmopy668it] {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 55px;
    padding-bottom: 130px;
    position: relative;
    background-color: #fff;
}

/* Header Styling */
header[b-tmopy668it] {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: #333;
    color: #fff;
}

/* Navbar Styling */
.navbar[b-tmopy668it] {
    padding: 0.5rem 1rem;
    background-color: #333;
    border-bottom: 2px solid #27950b;
}

.navbar-brand small[b-tmopy668it] {
    font-weight: bold;
    color: #ffffff;
}

.navbar .ms-auto small[b-tmopy668it] {
    color: #f5c518;
}

/* Footer Styling */
footer[b-tmopy668it] {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f1f3f1;
    color: #333;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    z-index: 10;
    box-sizing: border-box;
}

    footer .form-check-label[b-tmopy668it] {
        color: #333;
        font-weight: bold;
    }

/* Tooltip Styling */
.tooltip-inner[b-tmopy668it] {
    font-size: 0.875rem;
    background-color: #333;
    color: #fff;
    padding: 0.5em; /* Improved readability */
}

/* Content Wrapper for Centered Main Content */
.content-wrapper[b-tmopy668it] {
    max-width: 700px;
    margin: 0 auto;
    padding: 1rem;
    background-color: #fff; /* Ensure a consistent background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for a card effect */
}

/* Responsive Adjustments */
@media (max-width: 640px) {
    .navbar-brand small[b-tmopy668it], .navbar .ms-auto small[b-tmopy668it] {
        font-size: 0.9rem;
    }
}

@media print {
    .page[b-tmopy668it], .content-wrapper[b-tmopy668it] {
        display: block !important;
    }
}