.bricklay-container[b-mz9q45v20i] {
    display: block; /* Change from flex to block to prevent stretching */
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Ensure rows do not wrap */
    max-width: 100%; /* Prevent container from exceeding its parent width */
    box-sizing: border-box; /* Include padding and border in width calculations */
}

.bricklay-row[b-mz9q45v20i] {
    white-space: nowrap;
    font-size: 1rem;
}

@media (max-width: 768px) {
    .bricklay-row[b-mz9q45v20i] {
        font-size: 0.5rem;
    }
}