<div class="container-fluid no-print" id="navbarNav">
    <ul class="nav justify-content-center">
        <ShowInstructionsComponent />
        <li class="nav-item">
            <a class="nav-link fw-semibold" target="_blank" href="https://product-portal.intranet.habasit.com/view/v_portal_pmb"><i class="fa-solid fa-book"></i> Portal</a>
        </li>
        <li class="nav-item">
            <a class="nav-link fw-semibold" target="_blank" href="https://www.habasit.com/-/media/Project/Habasit/PublicWebSite/Documents/English/Products/Plastic-Modular/4178_Habasit-Link-Plastic-Modular-Belts-Product-Guide_0124_en.pdf"><i class="fa-solid fa-puzzle-piece"></i> Product</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active  fw-semibold" target="_blank" href="https://misbelt.com/wp-content/uploads/2018/01/HabaLINK-Plastic-Modular.pdf"><i class="fa-solid fa-circle-info"></i> Specs</a>
        </li>
    </ul>
</div>