
@code {
    [Parameter]
    public RenderFragment? Preface { get; set; }
    
    [Parameter]
    public RenderFragment? Article { get; set; }
    
     [Parameter]
     public RenderFragment? Climax { get; set; }

    [Parameter]
    public RenderFragment? Conclusion { get; set; }
    
    [Parameter]
    public string? PrefaceHeading { get; set; }
    
    [Parameter]
    public string? ArticleHeading { get; set; }
    
     [Parameter]
     public string? ClimaxHeading { get; set; }

    [Parameter]
    public string? ConclusionHeading { get; set; }
}

<style>
    /* Custom styles for the accordion */
    .accordion-flush .accordion-item {
        border: none; /* Remove the default border */
    }

    .accordion-flush .accordion-button {
        background-color: #f1f3f1; /* Set the background color to green */
        color: black; /* Set text color to white */
    }

    .accordion-flush .accordion-button:not(.collapsed) {
            background-color: #f1f3f1; /* Darker shade when expanded */
        color: black; /* Ensure text remains white */
    }

    .accordion-flush .accordion-button:hover {
        background-color: rgb(216, 224, 217);
    }
</style>



<div class="accordion accordion-flush mt-4" id="summary">
    <!-- Preface Section -->
    <div class="accordion-item">
        <h2 class="accordion-header">
            <span class="accordion-button" aria-expanded="true" style="cursor: default;">
                @PrefaceHeading
            </span>
        </h2>
        <div class="accordion-body">
            @Preface
        </div>
    </div>

    <!-- Article Section -->
    <div class="accordion-item">
        <h2 class="accordion-header">
            <span class="accordion-button" aria-expanded="true" style="cursor: default;">
                @ArticleHeading
            </span>
        </h2>
        <div class="accordion-body">
            @Article
        </div>
    </div>

    <!-- Climax Section -->
    <div class="accordion-item">
        <h2 class="accordion-header">
            <span class="accordion-button" aria-expanded="true" style="cursor: default;">
                @ClimaxHeading
            </span>
        </h2>
        <div class="accordion-body">
            @Climax
        </div>
    </div>

    <!-- Conclusion Section -->
    <div class="accordion-item">
        <h2 class="accordion-header">
            <span class="accordion-button" aria-expanded="true" style="cursor: default;">
                @ConclusionHeading
            </span>
        </h2>
        <div class="accordion-body">
            @Conclusion
        </div>
    </div>
</div>
