.form-container[b-o0m35uarhm] {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
    padding: 4rem;
}

.form-group[b-o0m35uarhm] {
    margin-bottom: 1rem;
}

input[b-o0m35uarhm], select[b-o0m35uarhm], button[b-o0m35uarhm] {
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
}

@media (max-width: 600px) {
    .form-container[b-o0m35uarhm] {
        padding: 1rem 0.5rem;
    }

    button[b-o0m35uarhm] {
        font-size: 1rem;
    }
}

.animated-number[b-o0m35uarhm] {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    animation: color-change-b-o0m35uarhm 5s infinite;
    margin: 20px;
    cursor: url('https://example.com/funky-cursor.png'), auto; /* Change to funky pointer */
    transition: transform 0.3s ease;
}

    .animated-number:hover[b-o0m35uarhm] {
        transform: scale(1.1); /* Hover effect to zoom slightly */
    }

.copy-button[b-o0m35uarhm] {
    border: dashed;
    cursor: grab;
}

.dialog[b-o0m35uarhm] {
    display: none;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: green;
    margin: 10px;
}

/* Keyframes for smooth color transition */
@keyframes color-change-b-o0m35uarhm {
    0% {
        color: rgb(255, 0, 0); /* Red */
    }

    33% {
        color: rgb(0, 255, 0); /* Green */
    }

    66% {
        color: rgb(0, 0, 255); /* Blue */
    }

    100% {
        color: rgb(255, 0, 0); /* Back to Red */
    }
}