@page "/"

<PageTitle>Home</PageTitle>

<div class="alert alert-warning" role="alert">
    Before authentication will function correctly, you must configure your provider details in <code>Program.cs</code>
</div>

<div class="alert alert-info" role="alert">
    Tools created by T.D. Smith founder of CADGuardian<div class="nav-item px-3">
        <NavLink class="nav-link" href="drawing-number-generator">
            Drawing Number Generator
        </NavLink>
    </div>
</div>

