@page "/belt-series"
@using DNG.Library.Models.BeltSpecs
@inject HttpClient Http
@inject IBeltSeriesService BeltSeriesService
@inject IDrawingRequest DrawingRequest

<div class="input-group mb-3">
    <div class="container px-4">
       

        <div class="col gx-5">
            <div class="col d-flex justify-content-center align-items-center">
                @if (selectedImage != null)
                {
                    <img src="images/belts/@selectedImage" alt="Belt Image" class="img-thumbnail m-4" style="max-width: 100%;" />
                }
                else if (!string.IsNullOrEmpty(DrawingRequest?.BeltSeries))
                {
                    <p class="text-danger">No image available for the selected belt series.</p>
                }
            </div>

            <div class="input-group mb-3">
                <div class="form-floating">
                    <select id="beltSeries" class="form-select form-select-sm"
                            @bind="beltSeries"
                            required>
                        <option value="" disabled selected>Select Belt Series</option>
                        @foreach (var series in BeltSeries.Options.Keys.OrderBy(_ => _))
                        {
                            <option value="@series">@series</option>
                        }
                    </select>
                    <label for="beltSeries">Series</label>
                </div>
                <span class="input-group-text">@BeltSeriesService.GetBeltSeriesType(DrawingRequest?.BeltSeries ?? "")</span>
            </div>
        </div>
    </div>
</div>

@code {
    private string beltSeries
    {
        get => DrawingRequest?.BeltSeries ?? string.Empty;
        set
        {
            if (DrawingRequest != null)
            {
                DrawingRequest.BeltSeries = value;
                selectedImage = BeltSeriesService.GetImageFileNameForBeltSeries(DrawingRequest.BeltSeries, imageFiles);
            }
        }
    }

    private List<string> imageFiles = new();
    private string? selectedImage;

    protected override async Task OnInitializedAsync()
    {
        // Load image files with service
        imageFiles = await BeltSeriesService.LoadImageFilesAsync(Http);
    }
}
