@inherits BaseInputComponent

<div class="input-group mb-3">
    <div class="form-floating">

        <InputText id="purchaseOrderNumber" aria-required="true"
               aria-describedby="purchaseOrderNumberHelp"
                   @bind-Value="DrawingRequest!.PurchaseOrderNumber" autofocus
               class="form-control form-control-sm" />

        <label for="purchaseOrderNumber">Purchase Order #</label>
    </div>
</div>
