@inherits BaseInputComponent

<div class="input-group mb-3">
    <div class="form-floating">

    <InputNumber id="numberOfLinks" aria-required="true"
                 aria-describedby="numberOfLinksHelp" @onblur="HandleInputAsync"
                 @bind-Value="DrawingRequest!.NumberOfLinks" Min="1" Max="20"
                 class="form-control text-center"
                 onfocus="selectAllText(this)" />
        <label for="numberOfLinks">Number of Links</label>
                 </div>
</div>
