@inherits BaseInputComponent
@inject IRequiredBeltWidthService RequiredBeltWidthService

<div class="input-group">
    <div class="form-floating">
        <InputNumber @bind-Value="beltWidth" id="beltWidth" aria-required="true"
                     aria-describedby="beltWidthHelp" Min="1" Max="999"
                     class="form-control text-center" onfocus="selectAllText(this)" />
        <label for="beltWidth">Width (inches)</label>
    </div>

    <span class="input-group-text">@(State!.DrawingNumber?.BeltWidthCode ?? "❌")</span>
</div>

@code {
    private decimal beltWidth
    {
        get => State.DrawingRequest?.BeltWidth ?? 0;
        set
        {
            if (State.DrawingRequest != null && State.DrawingRequest.BeltWidth != value)
            {
                State.UpdateProperty(State.DrawingRequest, dr => dr.BeltWidth = value);
                UpdateBeltWidthCode(value);
            }
        }
    }

    private void UpdateBeltWidthCode(decimal width)
    {
        State.UpdateProperty(State.DrawingNumber, dn => dn.BeltWidthCode = BeltWidth.Create(width).Code);
    }
}
