@inherits BaseInputComponent

<div class="col-6">
<div class="input-group mb-3">
    <div class="form-floating">
        <InputNumber @bind-Value="numberOfLinks" id="numberOfLinks" aria-required="true"
                     aria-describedby="numberOfLinksHelp" Min="1" Max="20"
                     class="form-control text-center" onfocus="selectAllText(this)" />
        <label for="numberOfLinks">Number of Links</label>
    </div>

</div>
</div>

@code {
    private int numberOfLinks
    {
        get => State.DrawingRequest?.NumberOfLinks ?? 0;
        set
        {
            if (State.DrawingRequest != null && State.DrawingRequest.NumberOfLinks != value)
            {
                State.UpdateProperty(State.DrawingRequest, dr => dr.NumberOfLinks = value);
            }
        }
    }
}
