@inherits BaseInputComponent

<div class="col-4">
    <div class="form-floating">
        <InputText @bind-Value="salesOrderNumber" id="salesOrderNumber" aria-required="true"
                   aria-describedby="salesOrderNumberHelp"
                   class="form-control form-control-sm" />
        <label for="salesOrderNumber">Sales Order #</label>
    </div>
</div>

@code {
    private string salesOrderNumber
    {
        get => State.DrawingRequest?.SalesOrderNumber ?? string.Empty;
        set
        {
            if (State.DrawingRequest != null && State.DrawingRequest.SalesOrderNumber != value)
            {
                State.UpdateProperty(State.DrawingRequest, dr => dr.SalesOrderNumber = value);
            }
        }
    }
}
