@inherits BaseInputComponent

<div class="input-group mb-3">
    <div class="form-floating">
        <InputText @bind-Value="quoteNumber" id="quoteNumber" aria-required="true"
                   aria-describedby="quoteNumberHelp" autofocus
                   class="form-control form-control-sm" />
        <label for="quoteNumber">Quote #</label>
    </div>
</div>

@code {
    private string quoteNumber
    {
        get => State.DrawingRequest?.QuoteNumber ?? string.Empty;
        set
        {
            if (State.DrawingRequest != null && State.DrawingRequest.QuoteNumber != value)
            {
                State.UpdateProperty(State.DrawingRequest, dr => dr.QuoteNumber = value);
            }
        }
    }
}
