@using DNG.Library.Models.BeltSpecs
@inherits BaseInputComponent

<div class="col-6">
<div class="input-group">
    <div class="form-floating">
        <InputNumber @bind-Value="qtyRollersAcrossWidth" id="qtyRollersAcrossWidth" aria-required="true"
                     aria-describedby="qtyRollersAcrossWidthHelp" Min="1" Max="20"
                     class="form-control text-center" onfocus="selectAllText(this)" />
        <label for="qtyRollersAcrossWidth">Qty. Rollers Width</label>
    </div>

    <span class="input-group-text">@rollerWidthCode</span>
</div>
</div>

@code {
    protected override void OnInitialized()
    {
        qtyRollersAcrossWidth = 0; // Set a default value if needed
        UpdateRollerWidthCode(0);
    }

    private int qtyRollersAcrossWidth
    {
        get => State.DrawingRequest?.QtyRollersAcrossWidth ?? 0;
        set
        {
            if (State.DrawingRequest != null && State.DrawingRequest.QtyRollersAcrossWidth != value)
            {
                State.UpdateProperty(State.DrawingRequest, dr => dr.QtyRollersAcrossWidth = value);
                UpdateRollerWidthCode(value);
            }
        }
    }

    private string? rollerWidthCode;

    private void UpdateRollerWidthCode(int value)
    {
        rollerWidthCode = Flights_Rollers_Grips.GetFRGQuantityAcrossWidthCode(value);
        State.UpdateProperty(State.DrawingNumber, dn => dn.QtyRollersAcrossWidth = rollerWidthCode);
    }
}
