@inherits BaseInputComponent

<div class="input-group mb-3">
    <div class="form-floating">

        <InputText id="quoteNumber" aria-required="true"
               aria-describedby="quoteNumberHelp"
                   @bind-Value="DrawingRequest!.QuoteNumber" autofocus
               class="form-control form-control-sm" />

        <label for="quoteNumber">Quote #</label>
    </div>
</div>
