@using DNG.Library.Models.BeltSpecs
@inherits BaseInputComponent

<div class="input-group mb-3">
    <div class="form-floating">
    <select id="beltAccessories" class="form-select form-select-sm"
            @onblur="HandleInputAsync"
            @bind="DrawingRequest!.BeltAccessories" required>
        <option value="" disabled selected>Select Belt Accessories</option>

            @foreach (var accessory in BeltAccessories.Options.Values.OrderBy(a=>a))
            {
                <option value="@accessory">@accessory</option>
            }
    </select>
    <label for="beltAccessories">Accessories</label>
    </div>


        <span class="input-group-text">@BeltAccessories.GetCodeByName(DrawingRequest!.BeltAccessories, BeltAccessories.Options)</span>
</div>

@code{
    protected override void OnInitialized()
    {
        // Set the default value here, based on some logic
        DrawingRequest!.BeltAccessories = "No options"; 
    }
}