@using DNG.Library.Models.BeltSpecs
@inherits BaseInputComponent

<div class="col-6 col-md-4">
    <div class="input-group mb-3">
        <div class="form-floating">
            <select @bind="sidePLLaneDV" id="sidePLLaneDV" class="form-select form-select-sm" required>
                <option value="" disabled>Select Side-PL/Lane-DV</option>
                @foreach (var type in SidePLLaneDV.Options.Values)
                {
                    <option value="@type">@type</option>
                }
            </select>
            <label for="sidePLLaneDV">Side-PL/Lane-DV</label>
        </div>

        <span class="input-group-text">@(State!.DrawingNumber?.SidePLLaneDVCode ?? "❌")</span>
    </div>
</div>

@code {
    private string sidePLLaneDV
    {
        get => State.DrawingRequest?.SidePLLaneDV ?? string.Empty;
        set
        {
            if (State.DrawingRequest != null && State.DrawingRequest.SidePLLaneDV != value)
            {
                State.UpdateProperty(State.DrawingRequest, dr => dr.SidePLLaneDV = value);
                UpdateSidePLLaneDVCode(value);
            }
        }
    }

    private string? sidePLLaneDVCode;

    private void UpdateSidePLLaneDVCode(string value)
    {
        sidePLLaneDVCode = SidePLLaneDV.GetCodeByName(value, SidePLLaneDV.Options);
        State.UpdateProperty(State.DrawingNumber, dn => dn.SidePLLaneDVCode = sidePLLaneDVCode ?? string.Empty);
    }

    protected override void OnInitialized()
    {
        sidePLLaneDV = "No options"; // Set a default value if needed
        UpdateSidePLLaneDVCode(sidePLLaneDV);
    }
}
