@using DNG.Library.Models.BeltSpecs
@inherits BaseInputComponent

<div class="input-group mb-3">
    <div class="form-floating">
        <select @bind="beltType" id="beltType" class="form-select" required>
            <option value="" disabled>Select Belt Type</option>
            @foreach (var type in BeltType.Options.Values.OrderBy(t => t))
            {
                <option value="@type">@type</option>
            }
        </select>
        <label for="beltType">Type</label>
    </div>
    <span class="input-group-text">@beltTypeCode</span>
</div>

@code {
    private string beltType
    {
        get => State.DrawingRequest?.BeltType ?? string.Empty;
        set
        {
            if (State.DrawingRequest != null && State.DrawingRequest.BeltType != value)
            {
                State.UpdateProperty(State.DrawingRequest, dr => dr.BeltType = value);
                UpdateBeltTypeCode(value);
            }
        }
    }

    private string? beltTypeCode;

    private void UpdateBeltTypeCode(string value)
    {
        beltTypeCode = BeltType.GetCodeByName(value, BeltType.Options);
        State.UpdateProperty(State.DrawingNumber, dn => dn.BeltTypeCode = beltTypeCode ?? string.Empty);
    }

    protected override void OnInitialized()
    {
        beltType = "Standard Belt"; // Set a default value if needed
        UpdateBeltTypeCode(beltType);
    }
}
