@using DNG.Library.Models.BeltSpecs
@inherits BaseInputComponent

<div class="input-group mb-3">
    <div class="form-floating">
        <select @bind="adderMaterial" id="adderMaterial" class="form-select form-select-sm" required>
            <option value="" disabled>Select Adder Material</option>
            @foreach (var adder in AdderMaterial.Options.Values.OrderBy(a => a))
            {
                <option value="@adder">@adder</option>
            }
        </select>
        <label for="adderMaterial">Adder Material</label>
    </div>

    <span class="input-group-text bg-dark text-light" data-bs-toggle="tooltip3">
        @adderMaterialCode
    </span>
</div>

@code {
    private string adderMaterial
    {
        get => State.DrawingRequest?.AdderMaterial ?? string.Empty;
        set
        {
            if (State.DrawingRequest != null && State.DrawingRequest.AdderMaterial != value)
            {
                State.UpdateProperty(State.DrawingRequest, dr => dr.AdderMaterial = value);
                UpdateAdderMaterialCode(value);
            }
        }
    }

    private string? adderMaterialCode;

    private void UpdateAdderMaterialCode(string value)
    {
        adderMaterialCode = AdderMaterial.GetCodeByName(value, AdderMaterial.Options);
        State.UpdateProperty(State.DrawingNumber, dn => dn.AdderMaterialCode = adderMaterialCode ?? string.Empty);
    }

    protected override void OnInitialized()
    {
        adderMaterial = "No Adder"; // Set a default value if needed
        UpdateAdderMaterialCode(adderMaterial);
    }
}
