@using DNG.Library.Models.BeltSpecs
@inherits BaseInputComponent

<div class="col-6">
<div class="input-group mb-3">
    <div class="form-floating">
        <select @bind="flightsRollersGrip" id="flightsRollersGrip" class="form-select form-select-sm" required>
            <option value="" disabled>Select Flights/Rollers/Grip</option>
            @foreach (var flight in Flights_Rollers_Grips.Options.Values.OrderBy(f => f))
            {
                <option value="@flight">@flight</option>
            }
        </select>
        <label for="flightsRollersGrip">Flights/Rollers/Grip</label>
    </div>

    <span class="input-group-text">@(State!.DrawingNumber?.FlightsRollersGripsCode ?? "❌")</span>

</div>
</div>

@code {
    private string flightsRollersGrip
    {
        get => State.DrawingRequest?.FlightsRollersGrip ?? string.Empty;
        set
        {
            if (State.DrawingRequest != null && State.DrawingRequest.FlightsRollersGrip != value)
            {
                State.UpdateProperty(State.DrawingRequest, dr => dr.FlightsRollersGrip = value);
                UpdateFlightsRollersGripCode(value);
            }
        }
    }

    private string? flightsRollersGripCode;

    private void UpdateFlightsRollersGripCode(string value)
    {
        flightsRollersGripCode = Flights_Rollers_Grips.GetFlightsRollersGripsCode(value);
        State.UpdateProperty(State.DrawingNumber, dn => dn.FlightsRollersGripsCode = flightsRollersGripCode ?? string.Empty);
    }

    protected override void OnInitialized()
    {
        flightsRollersGrip = "No Flights"; // Set a default value if needed
        UpdateFlightsRollersGripCode(flightsRollersGrip);
    }
}
