@inherits BaseInputComponent

<div class="input-group mb-3">
    <label class="input-group-text" for="uniqueIdentification">Unique ID</label>

    <InputText id="uniqueIdentification" aria-required="true"
               aria-describedby="uniqueIdentificationHelp"
               @bind-Value="DrawingRequest.UniqueIdentification"
               class="form-control form-control-sm"
               onfocus="selectAllText(this)" />
</div>
