@inherits BaseInputComponent

<div class="input-group mb-3">
    <label class="input-group-text" for="frgCenters">F/R/G Centers</label>

    <InputNumber id="frgCenters" aria-required="true" aria-describedby="frgCentersHelp"
                 @onblur="HandleInputAsync" @bind-Value="DrawingRequest.FRGCenters"
                 Min="1" Max="100" class="form-control text-center"
                 onfocus="selectAllText(this)" />

    <span class="input-group-text">@DrawingNumber.FRGCenters</span>
</div>