@inherits BaseInputComponent

<div class="input-group mb-3">
    <div class="form-floating">
    <select id="beltType" class="form-select form-select-sm"
            @onblur="HandleInputAsync"
            @bind="DrawingRequest.BeltType" required autofocus>
        <option value="" disabled selected>Select Belt Type</option>
            @foreach (var type in BeltType.Options.Values.OrderBy(t=>t))
            {
                <option value="@type">@type</option>
            }
    </select>
        <label for="beltType">Type</label>
    </div>

    <span class="input-group-text">
            @BeltType.GetCodeByName(DrawingRequest.BeltType, BeltType.Options)
    </span>
</div>

@code {
    protected override void OnInitialized()
    {
        // Set the default value here, based on some logic
        DrawingRequest.BeltType = "Standard Belt"; 
    }
}


