@inherits BaseInputComponent

<div class="input-group mb-3">
    <label class="input-group-text" for="color">Color</label>
    <select id="color" class="form-select form-select-sm" @onblur="HandleInputAsync"
            @bind="DrawingRequest.Color" required autofocus>
        <option value="" disabled selected>Select Color</option>
            @foreach (var color in MaterialColor.Options.Values.OrderBy(c => c))
            {
                <option value="@color">@color</option>
            }
    </select>

    <span class="input-group-text">
        @MaterialColor.GetCodeByName(DrawingRequest.Color, MaterialColor.Options)
    </span>
</div>
